.home-container {
  position: relative;
  height: 50vh; /* Altura fija para la sección */
  background-size: cover;
  background-position: center;
}

.home-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-start; /* Inicia en la parte superior */
  /*padding-top: 10%;  Ajustar altura del texto */
  text-align: center;
  color: white;
}

.contact-bar {
  background-color: #4c40f7; /* Fondo morado */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Configuración inicial para dispositivos móviles */
  align-items: center;
  color: white;
}

.icono-casa img {
  width: 50px; /* Tamaño del icono */
  height: auto;
}

.texto-whatsapp {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}

.boton-contactar button {
  background-color: white;
  color: #3F1B86; /* Texto del botón */
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-contactar button:hover {
  background-color: #e0e0e0; /* Color en hover */
}

/* Ajuste para pantallas medianas o mayores */
@media (min-width: 768px) {
  .contact-bar {
    flex-direction: row; /* Cambiar a disposición horizontal */
    justify-content: space-between; /* Separar elementos */
    text-align: start;
  }
  .boton-contactar {
    margin-top: 0;
  }
}
