/* El contenedor principal debe ocupar todo el espacio disponible */
.construccion-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evitar desbordamientos */
}

/* Imagen de fondo que cubre toda la pantalla */
.img-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo sin distorsión */
    z-index: -1; /* La imagen va detrás del contenido */
}

/* Contenido centrado sobre la imagen */
.content-text {
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 450px;
}


/* Asegura que los iconos sociales estén centrados */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 2rem;
}

.social-icons a:hover {
    color: #d4af37; /* Color dorado al pasar sobre los iconos */
}

/* Asegurarse de que el diseño sea responsivo */
@media (max-width: 768px) {
    .content {
        padding: 0px;
    }

    .social-icons a {
        font-size: 1.5rem;
    }
}
