/* Estilo personalizado para el Navbar */
.navbar-custom {
    background-color: #1B1A3D; /* Ajustar el color de fondo oscuro */
    padding: 1rem;
  }
  
  .navbar-custom .nav-link {
    color: white !important;
    margin-right: 2rem;
    font-size: 1.2rem;
  }
  
  .navbar-custom .navbar-brand {
    color: white !important;
    font-size: 1.5rem;
  }
  
  .image-container {
    width: 40px; /* Ajusta el tamaño del logo si es necesario */
    max-height: 40px;
    display: flex;
    align-items: center;
  }
  
  .img-logo {
    width: 100%; /* Asegura que la imagen sea responsiva */
    height: auto;
  }
  