/* src/index.css */

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 100%;
}
