@import '~@fortawesome/fontawesome-free/css/all.css';

/* Otros estilos */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 100%;
}

/* Estilo personalizado para el Navbar transparente */
.image-container {
  width: 400px;
  max-height: 120px; 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  
}

.img-logo {
  width: 100%; /* Asegura que sea responsivo */
  max-width: 500px; /* Limita el tamaño máximo */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-top: 10px;
}


/* Estilo para los enlaces del Navbar */
.navbar-custom .nav-link {
  color: white !important;
}

.navbar-custom .navbar-brand {
  color: white !important;
}

/* Estilo para el separador entre los botones */
.separator {
  width: 1px;
  height: 40px; /* Altura deseada para la línea */
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  border-left: 2px solid rgb(53, 0, 62); /* Agrega una línea divisoria */
}

/* Estilos personalizados para el formulario de contacto */
.contact-icons {
  color: #343a40;
}

.contact-icons a {
  margin-right: 15px;
  color: inherit;
  text-decoration: none;
}

.contact-icons a:hover {
  color: #007bff; /* Cambia el color al pasar el cursor */
}

.container {
  max-width: 800px;
}

